@font-face {

	font-family: 'MyFont-first';
     src: url(Streetwear.otf);
    /*  タイトル用 */
}
@font-face{

     font-family:'MyFont-second';
     src: url(KouzanMouhituFontOTF.otf);
     /* サブメニュー欄用 */
}
.body{

    margin:0;
    height:100vh;  /* ボディの高さを画面と合わせる */
    font-size: 62.5%;   /* フォントの基準 */
    background-image:url("../img/仮背景２.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
.container{

     height:inherit;
}
.header{ /* コンテンツ*/

    width:100%;
    display:flex;
}

.title{

    font-size:5.65rem;
    font-style:italic;
    font-family:'Haettenschweiler';
    position: relative;
    margin:0 0 0 50px;
    padding:0 0 0 25;
    height:12%;
    top:6px;
    border-bottom: solid 5.8px black;
    width:100%;
  }
.nav{
    
}
ul{/* ULの初期設定リセット */

    list-style: none;
}
a{
    
    color:black;
    text-decoration: none;
}
.menulist{/* メニュー欄のおおまかな設定 */
    
    display: flex;
    font-size:2.57rem;
    font-family:'Haettenschweiler';
    font-style:italic;
    margin:0 0 0 0px;
    width:40%;
    position: absolute;
    top:48px;
    left:247px;
    z-index:8;
    /* letter-spacing:0.5px;/* 文字間隔 */
}
.menulist li{/* メニュー部品の上部間隔 */

    margin-top:8px;
    /* float:left; */
    margin:0 0 0 20px;
}
.menu-span{

    margin:0 0 0 25px;
    font-weight:700;
}

.skill-panel{
     
     height:calc(79% - 109px);
     display: flex;
     flex-wrap: wrap;
     margin:0 0 0 65;
}
.sp-all{

     width:22.5%;
     height:46%;
     border:2px solid black;
     display: flex;
     flex-wrap: wrap;
     border-radius:5px;
     background-color:#fffffc;
}
.sp-all img{

     width:90px;
     height:90px;
     margin:10 0 0 12;
     word-break : break-all;
}
.sp-title{

    position: relative;
    top:6px;
    display:inline-block;
    font-family:'Haettenschweiler';
    font-size:2.39rem;
    font-weight:500;
    height:20%;
    margin:12 0 0 20;
    /* font-style:italic; */
}
.sp-up{

     margin:68 10 0 10;
}
.sp-under{

     margin:30 10 0 10;
}
.sp-1{

}
.sp-2{

}
.sp-3{

}
.sp-4{

}
.sp-5{

}
.sp-6{

}
.sp-7{
    
}
.sp-8{

}
.star{

    display:inline-block;
    font-size:1.2rem;
    color:black;
}

.sp-star{


    position: relative;
    left:120px;
    bottom:65px;
    height:15%;
    width:70%;
}
.sp-category{

    display:block;
    position: relative;
    left:20px;
    bottom:45px;
    font-family:'Meiryo UI',sans-serif;
    font-weight: 600;
    font-size:0.9rem;
    word-wrap:break-word;
    width:88%;
    letter-spacing:2px;
    word-spacing:3px;
    height:35%;
}